@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .banner-item {
        @apply px-5 py-3 text-xl font-semibold text-white bg-white bg-opacity-10 rounded-xl flex items-center gap-2 hover:cursor-pointer z-10 transition-all duration-200 hover:bg-white hover:text-primary; 
        
        backdrop-filter: blur(5px);
    }

    .table-head {
        @apply flex-1 flex text-center text-slate-400 font-semibold px-4
    }

    .warga {
        @apply text-[#EEA849] bg-[#EEA849] bg-opacity-10 py-3 px-5 rounded-lg
    }
    .juragan {
        @apply text-[#56CCF2] bg-[#56CCF2] bg-opacity-10 py-3 px-5 rounded-lg
    }
    .sultan {
        @apply text-[#38EF7D] bg-[#38EF7D] bg-opacity-10 py-3 px-5 rounded-lg
    }
    .konglomerat {
        @apply text-[#E100FF] bg-[#E100FF] bg-opacity-10 py-3 px-5 rounded-lg
    }
    .action-button {
        @apply flex bg-opacity-50 h-[40px] px-3 text-center rounded-lg gap-3 hover:cursor-pointer
    }
    .top-menu-item {
        @apply text-slate-600 
    }
    .rank-1 {
        @apply absolute right-2 top-[-10px] bg-[#F17300] w-8 h-8 text-center text-white font-bold pt-[0.1rem];

        box-shadow: 3px 3px #464646;
    }
    .nav-item {
        @apply mt-3 mx-5 px-3 py-2 text-slate-500 flex text-xl font-semibold items-center relative hover:cursor-pointer hover:bg-primary rounded-xl hover:text-white transition-all duration-200
    }
    .active {
        @apply text-primary font-bold
    }
    .page-number {
        @apply px-4 py-1 text-slate-400 font-semibold hover:cursor-pointer hover:bg-white hover:shadow-md hover:rounded-md hover:text-black
    }
}

#banner-image {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 3% 100%);
}